* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: rgb(14, 14, 14);
  position: relative;
  width: 100%;
  height: 100vh;
}

.keyboard {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 2rem;
  align-items: flex-end;
  gap: 2rem;
  left: 50%;
  bottom: 0;
  transition: opacity 0.2s;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  max-width: 80rem;
  transform: translateX(-50%);
  pointer-events: none;
}

.keyboard svg {
  padding: 0.8rem;
  width: 100%;
  height: 100%;
}

.keyboard__top {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.keyboard__bottom {
  display: flex;
  gap: 2rem;
}

.keyboard__key {
  background-color: #dbdbdb;
  border-radius: 4px;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-family: sans-serif;
  pointer-events: auto;
}

.keyboard--none {
  opacity: 0;
  pointer-events: none;
  user-select: none;
}

.keyboard__key--active {
  background-color: rgb(224, 189, 113);
}

.display-keyboard {
  position: fixed;
  right: 1rem;
  top: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #52514d;
  transition: background-color 0.2s;
  user-select: none;
}
.display-keyboard--active {
  background-color: rgb(226, 226, 226);
}
.display-keyboard--active svg {
  stroke: black;
}
.display-keyboard svg {
  padding: 0.3rem;
  width: 100%;
  transition: stroke 0.2s;
}

.manual {
  position: fixed;
  top: 4rem;
  left: 1rem;
  right: 1rem;
  margin-left: auto;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  background-color: rgba(85, 85, 85, 0.473);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 25em;
  padding: 1rem;
  line-height: 1.5rem;
}

.manual span {
  padding: 2px 6px;
  background-color: #dddddd;
  color: black;
  border-radius: 4px;
  white-space: nowrap;
}

.manual h1 {
  color: rgb(213, 236, 252);
  font-size: 1.5rem;
}

.manual p {
  color: #d4d2c5;
  font-size: 0.8rem;
}

.manual button {
  width: max-content;
  padding: 0.5em 2em;
  border-radius: 4px;
  background-color: rgb(110, 109, 101);
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 0.8rem;
  margin-left: auto;
}

.manual button:hover {
  background-color: rgb(170, 169, 159);
}
